body{
    font-family: Arial, sans-serif;
}

.form{
    margin: 0 auto;
    width: 25vw;
    height: 71vh;
}

.login{
    border: 1px solid rgba(139, 130, 130, 0.4);
}
p {
    margin-top: 50px;
}

.login, form{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login img{
    width: 80%;
}

input[type="text"],
input[type="password"]{
    width: 78%;
    padding: 10px 10px;
    text-overflow: ellipsis;
    margin-top: 10px;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 78%;
    height: 35px;
    background-color: #68b5fa;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
}

form span{
    margin: 10px 0;
    font-weight: 600;
    color: darkblue;
}

.face-svg {
    justify-content: center;
    margin-bottom: 10px;
}

form p svg{
    margin-bottom: -5px;
}

form p{
    color: #155694;
    margin: 15px 0;
}

form a{
    color: #155694;
    text-decoration: none;
    margin-bottom: 15px;
}

.registration{
    width: 400px;
    height: 115px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

.registration a{
    color: #68b5fa;
    text-decoration: none;
    font-weight: 600;
}
